In [39]:
# Create SQL connection
import mysql.connector as sql

logs  = {
    'host':"localhost", 
    'user':"test1",
    'password':"password123",
    'database':'imdb',
}
mydb = sql.connect(**logs)
print(mydb)

mycursor = mydb.cursor()

# checking the available databases
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f1480299ee0>
('dump',)
('imdb',)
('information_schema',)
('mysql',)
('new_imdb',)
('performance_schema',)
('sys',)

## Creating Databases

In [27]:
# mycursor = mydb.cursor()
# mycursor.execute("CREATE DATABASE dump")

In [40]:
# showing tables in a databse
mycursor.execute("SHOW TABLES;")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('actors',)
('directors',)
('directors_genres',)
('movies',)
('movies_directors',)
('movies_genres',)
('roles',)

In [46]:
mycursor.execute("SELECT name,year FROM movies LIMIT 20;")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('#28', 2002)
('#7 Train: An Immigrant Journey, The', 2000)
('$', 1971)
('$1,000 Reward', 1913)
('$1,000 Reward', 1915)
('$1,000 Reward', 1923)
('$1,000,000 Duck', 1971)
('$1,000,000 Reward, The', 1920)
('$10,000 Under a Pillow', 1921)
('$100,000', 1915)
('$100,000 Pyramid, The', 2001)
('$1000 a Touchdown', 1939)
('$20,000 Carat, The', 1913)
('$21 a Day Once a Month', 1941)
('$2500 Bride, The', 1912)
('$30', 1999)
('$30,000', 1920)
('$300 y tickets', 2002)
('$40,000', 1996)
('$5,000 Reward', 1918)

In [47]:
mycursor.execute("SELECT name,year FROM movies LIMIT 20 OFFSET 20;")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('$5,000,000 Counterfeiting Plot, The', 1914)
('$5.15/Hr.', 2004)
('$5.20 an Hour Dream, The', 1980)
('$50,000 Challenge, The', 1989)
('$50,000 Climax Show, The', 1975)
('$50,000 Jewel Theft, The', 1915)
('$50,000 Reward', 1924)
('$500 Reward, The', 1911)
('$500,000 Reward', 1911)
('$pent', 2000)
('$ucces Part One', 1986)
('$windle', 2002)
('& frres', 2000)
("''Bear'' Facts, The", 1914)
("'15'", 2002)
("'24-25' ne vozvrashchayetsya", 1968)
("'38", 1987)
("'42", 1951)
("'49, un souffle de colre", 1996)
("'49-'17", 1917)

## Connecting to an existing Database

In [49]:
cnx = sql.connect(user='test1', database='imdb', password='password123')
cursor = cnx.cursor()
query = ("SHOW TABLES")
cursor.execute(query)

In [51]:
for i in cursor:
    print(i)

('directors',)
('directors_genres',)
('movies',)
('movies_directors',)
('movies_genres',)
('roles',)

In [50]:
# Order by
mycursor.execute("SELECT name,rankscore,year FROM movies ORDER BY rankscore DESC, year DESC, name ASC LIMIT 20;")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Dawn of the Friend', 9.9, 2004)
('Prince Solitaire', 9.9, 2003)
('Whirlpool, The', 9.9, 2003)
('Blow Job', 9.9, 2002)
('Clearing, The', 9.9, 2001)
('Zenith', 9.9, 2001)
('Wrestling with Shadows', 9.9, 2000)
('New Clear Farm', 9.9, 1998)
('Together & Alone', 9.9, 1998)
('Scarmour', 9.9, 1997)
('Schalkse ruiters', 9.9, 1997)
('Huttyn', 9.9, 1996)
('Sargam', 9.9, 1995)
('Complex Sessions, The', 9.9, 1994)
('Ivan Groznyj III', 9.9, 1988)
('Young and Restless 2', 9.9, 1985)
('Himala', 9.9, 1982)
('New World, The', 9.9, 1982)
('Slyozy kapali', 9.9, 1982)
('You Are Not I', 9.9, 1981)

In [51]:
# Distinct
mycursor.execute("SELECT DISTINCT year FROM movies LIMIT 20;")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(2002,)
(2000,)
(1971,)
(1913,)
(1915,)
(1923,)
(1920,)
(1921,)
(2001,)
(1939,)
(1941,)
(1912,)
(1999,)
(1996,)
(1918,)
(1914,)
(2004,)
(1980,)
(1989,)
(1975,)

In [54]:
mycursor.execute("SELECT DISTINCT genre FROM movies_genres;")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Documentary',)
('Short',)
('Comedy',)
('Crime',)
('Western',)
('Family',)
('Animation',)
('Drama',)
('Romance',)
('Mystery',)
('Thriller',)
('Adult',)
('Music',)
('Action',)
('Fantasy',)
('Sci-Fi',)
('Horror',)
('War',)
('Musical',)
('Adventure',)
('Film-Noir',)

In [55]:
mycursor.execute("SELECT DISTINCT first_name FROM directors LIMIT 20;")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

("'Chico'",)
("'Philthy' Phil",)
("'Weird Al'",)
('A.',)
('A. (I)',)
('A. (II)',)
('A. Blaine',)
('A. Charles',)
('A. Dean',)
('A. Edward',)
('A. Hans',)
('A. John',)
('A. Jonathan',)
('A. Karides',)
('A. Karim',)
('A. Kondandarami',)
('A. Mark',)
('A. Paige',)
('A. Raven',)
('A. Razak',)

In [ ]:
# where 
mycursor.execute("SELECT name, year, rankscore FROM movies where rankscore>9 LIMIT 20;")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [52]:
mycursor.close()
mydb.close()